<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="site">
      <h2 data-cy="siteDetailsHeading"><span jhiTranslate="gpmGatewayApp.projectServiceSite.detail.title">Site</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ site.id }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.code">Code</span></dt>
        <dd>
          <span>{{ site.code }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.designation">Designation</span></dt>
        <dd>
          <span>{{ site.designation }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.gpsX">Gps X</span></dt>
        <dd>
          <span>{{ site.gpsX }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.gpsY">Gps Y</span></dt>
        <dd>
          <span>{{ site.gpsY }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.createdAt">Created At</span></dt>
        <dd>
          <span>{{ site.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ site.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.createdBy">Created By</span></dt>
        <dd>
          <span>{{ site.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.createdByUserLogin">Created By User Login</span></dt>
        <dd>
          <span>{{ site.createdByUserLogin }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ site.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.updatedByUserLogin">Updated By User Login</span></dt>
        <dd>
          <span>{{ site.updatedByUserLogin }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.ville">Ville</span></dt>
        <dd>
          <div *ngIf="site.ville">
            <a [routerLink]="['/ville', site.ville.id, 'view']">{{ site.ville.nom }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceSite.client">Client</span></dt>
        <dd>
          <div *ngIf="site.client">
            <a [routerLink]="['/client', site.client.id, 'view']">{{ site.client.raisonSociale }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/site', site.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
