<div>
  <h2 id="page-heading" data-cy="RessourceHeading">
    <span jhiTranslate="gpmGatewayApp.projectServiceRessource.home.title">Ressources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceRessource.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ressource"
        [routerLink]="['/ressource/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceRessource.home.createLabel"> Créer un nouveau Ressource </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ressources?.length === 0">
    <span jhiTranslate="gpmGatewayApp.projectServiceRessource.home.notFound">Aucun Ressource trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ressources && ressources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categorie">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.categorie">Categorie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateMiseEnService">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.dateMiseEnService">Date Mise En Service</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDerniereMaintenance">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.dateDerniereMaintenance">Date Derniere Maintenance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateProchaineMaintenance">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.dateProchaineMaintenance">Date Prochaine Maintenance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeRessourceId">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.typeRessourceId">Type Ressource Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statut">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceRessource.statut">Statut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ressource of ressources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ressource', ressource.id, 'view']">{{ ressource.id }}</a>
          </td>
          <td>{{ ressource.nom }}</td>
          <td>{{ ressource.code }}</td>
          <td>{{ ressource.categorie }}</td>
          <td>{{ ressource.description }}</td>
          <td>{{ ressource.dateMiseEnService | formatMediumDatetime }}</td>
          <td>{{ ressource.dateDerniereMaintenance | formatMediumDatetime }}</td>
          <td>{{ ressource.dateProchaineMaintenance | formatMediumDatetime }}</td>
          <td>{{ ressource.typeRessourceId }}</td>
          <td>{{ ressource.statut }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ressource', ressource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ressource', ressource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(ressource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ressources && ressources.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
