<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="otExterne">
      <h2 data-cy="otExterneDetailsHeading"><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.detail.title">Ot Externe</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ otExterne.id }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.reference">Reference</span></dt>
        <dd>
          <span>{{ otExterne.reference }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.statut">Statut</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gpmGatewayApp.StatutOtExterne.' + otExterne.statut }}">{{ otExterne.statut }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="gpmGatewayApp.financeServiceOtExterne.affaireId"
            [ngbTooltip]="'gpmGatewayApp.financeServiceOtExterne.help.affaireId' | translate"
            >Affaire Id</span
          >
        </dt>
        <dd>
          <span>{{ otExterne.affaireId }}</span>
        </dd>
        <dt>
          <span
            jhiTranslate="gpmGatewayApp.financeServiceOtExterne.clientId"
            [ngbTooltip]="'gpmGatewayApp.financeServiceOtExterne.help.clientId' | translate"
            >Client Id</span
          >
        </dt>
        <dd>
          <span>{{ otExterne.clientId }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.createdAt">Created At</span></dt>
        <dd>
          <span>{{ otExterne.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ otExterne.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.createdBy">Created By</span></dt>
        <dd>
          <span>{{ otExterne.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.createdByUserLogin">Created By User Login</span></dt>
        <dd>
          <span>{{ otExterne.createdByUserLogin }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ otExterne.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceOtExterne.updatedByUserLogin">Updated By User Login</span></dt>
        <dd>
          <span>{{ otExterne.updatedByUserLogin }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/ot-externe', otExterne.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
