<div>
  <h2 id="page-heading" data-cy="FactureWOHeading">
    <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.home.title">FactureWOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-facture-wo"
        [routerLink]="['/facture-wo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.home.createLabel"> Créer un nouveau Facture WO </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="factureWOS?.length === 0">
    <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.home.notFound">Aucun Facture WO trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="factureWOS && factureWOS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pourcentageFacture">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.pourcentageFacture">Pourcentage Facture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montantFacture">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.montantFacture">Montant Facture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarque">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.remarque">Remarque</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workOrderId">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.workOrderId">Work Order Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="facture.numFacture">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceFactureWo.facture">Facture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factureWO of factureWOS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/facture-wo', factureWO.id, 'view']">{{ factureWO.id }}</a>
          </td>
          <td>{{ factureWO.pourcentageFacture }}</td>
          <td>{{ factureWO.montantFacture }}</td>
          <td>{{ factureWO.remarque }}</td>
          <td>{{ factureWO.workOrderId }}</td>
          <td>
            <div *ngIf="factureWO.facture">
              <a [routerLink]="['/facture', factureWO.facture.id, 'view']">{{ factureWO.facture.numFacture }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/facture-wo', factureWO.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/facture-wo', factureWO.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(factureWO)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="factureWOS && factureWOS.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
