<div>
  <h2 id="page-heading" data-cy="DepenseDiverseHeading">
    <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.home.title">DepenseDiverses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-depense-diverse"
        [routerLink]="['/depense-diverse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.home.createLabel"> Créer un nouveau Depense Diverse </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="depenseDiverses?.length === 0">
    <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.home.notFound">Aucun Depense Diverse trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="depenseDiverses && depenseDiverses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="motif">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.motif">Motif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montant">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.montant">Montant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="justificatif">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.justificatif">Justificatif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workOrderId">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.workOrderId">Work Order Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdByUserLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.createdByUserLogin">Created By User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedByUserLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.financeServiceDepenseDiverse.updatedByUserLogin">Updated By User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let depenseDiverse of depenseDiverses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/depense-diverse', depenseDiverse.id, 'view']">{{ depenseDiverse.id }}</a>
          </td>
          <td>{{ depenseDiverse.motif }}</td>
          <td>{{ depenseDiverse.montant }}</td>
          <td>{{ depenseDiverse.date | formatMediumDate }}</td>
          <td>{{ depenseDiverse.justificatif }}</td>
          <td>{{ depenseDiverse.workOrderId }}</td>
          <td>{{ depenseDiverse.createdAt | formatMediumDatetime }}</td>
          <td>{{ depenseDiverse.updatedAt | formatMediumDatetime }}</td>
          <td>{{ depenseDiverse.createdBy }}</td>
          <td>{{ depenseDiverse.createdByUserLogin }}</td>
          <td>{{ depenseDiverse.updatedBy }}</td>
          <td>{{ depenseDiverse.updatedByUserLogin }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/depense-diverse', depenseDiverse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/depense-diverse', depenseDiverse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(depenseDiverse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="depenseDiverses && depenseDiverses.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
