<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vehicule">
      <h2 data-cy="vehiculeDetailsHeading"><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.detail.title">Vehicule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vehicule.id }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.marque">Marque</span></dt>
        <dd>
          <span>{{ vehicule.marque }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.type">Type</span></dt>
        <dd>
          <span>{{ vehicule.type }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.matricule">Matricule</span></dt>
        <dd>
          <span>{{ vehicule.matricule }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.nbPlaces">Nb Places</span></dt>
        <dd>
          <span>{{ vehicule.nbPlaces }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.numCarteGrise">Num Carte Grise</span></dt>
        <dd>
          <span>{{ vehicule.numCarteGrise }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.dateCirculation">Date Circulation</span></dt>
        <dd>
          <span>{{ vehicule.dateCirculation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.typeCarburant">Type Carburant</span></dt>
        <dd>
          <span>{{ vehicule.typeCarburant }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.chargeFixe">Charge Fixe</span></dt>
        <dd>
          <span>{{ vehicule.chargeFixe }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.tauxConsommation">Taux Consommation</span></dt>
        <dd>
          <span>{{ vehicule.tauxConsommation }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.statut">Statut</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gpmGatewayApp.StatutVehicule.' + vehicule.statut }}">{{ vehicule.statut }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.createdAt">Created At</span></dt>
        <dd>
          <span>{{ vehicule.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ vehicule.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.createdBy">Created By</span></dt>
        <dd>
          <span>{{ vehicule.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.createdByUserLogin">Created By User Login</span></dt>
        <dd>
          <span>{{ vehicule.createdByUserLogin }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ vehicule.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.updatedByUserLogin">Updated By User Login</span></dt>
        <dd>
          <span>{{ vehicule.updatedByUserLogin }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceVehicule.agence">Agence</span></dt>
        <dd>
          <div *ngIf="vehicule.agence">
            <a [routerLink]="['/agence', vehicule.agence.id, 'view']">{{ vehicule.agence.designation }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/vehicule', vehicule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
