<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="modelPhaseOT">
      <h2 data-cy="modelPhaseOTDetailsHeading">
        <span jhiTranslate="gpmGatewayApp.financeServiceModelPhaseOt.detail.title">Model Phase OT</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ modelPhaseOT.id }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceModelPhaseOt.nom">Nom</span></dt>
        <dd>
          <span>{{ modelPhaseOT.nom }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.financeServiceModelPhaseOt.description">Description</span></dt>
        <dd>
          <span>{{ modelPhaseOT.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/model-phase-ot', modelPhaseOT.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
