<div>
  <h2 id="page-heading" data-cy="WoUtilisateurHeading">
    <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.home.title">WoUtilisateurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wo-utilisateur"
        [routerLink]="['/wo-utilisateur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.home.createLabel"> Créer un nouveau Wo Utilisateur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="woUtilisateurs?.length === 0">
    <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.home.notFound">Aucun Wo Utilisateur trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="woUtilisateurs && woUtilisateurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="role">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.role">Role</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userId">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.userId">User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.userLogin">User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workOrder.id">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceWoUtilisateur.workOrder">Work Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let woUtilisateur of woUtilisateurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wo-utilisateur', woUtilisateur.id, 'view']">{{ woUtilisateur.id }}</a>
          </td>
          <td>{{ woUtilisateur.role }}</td>
          <td>{{ woUtilisateur.userId }}</td>
          <td>{{ woUtilisateur.userLogin }}</td>
          <td>
            <div *ngIf="woUtilisateur.workOrder">
              <a [routerLink]="['/work-order', woUtilisateur.workOrder.id, 'view']">{{ woUtilisateur.workOrder.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wo-utilisateur', woUtilisateur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wo-utilisateur', woUtilisateur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(woUtilisateur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="woUtilisateurs && woUtilisateurs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
