<div>
  <h2 id="page-heading" data-cy="SocieteHeading">
    <span jhiTranslate="gpmGatewayApp.projectServiceSociete.home.title">Societes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceSociete.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-societe"
        [routerLink]="['/societe/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceSociete.home.createLabel"> Créer un nouveau Societe </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="societes?.length === 0">
    <span jhiTranslate="gpmGatewayApp.projectServiceSociete.home.notFound">Aucun Societe trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="societes && societes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="raisonSociale">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.raisonSociale">Raison Sociale</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="raisonSocialeAbrege">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.raisonSocialeAbrege">Raison Sociale Abrege</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="identifiantUnique">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.identifiantUnique">Identifiant Unique</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="registreCommerce">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.registreCommerce">Registre Commerce</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeArticle">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.codeArticle">Code Article</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.adresse">Adresse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codePostal">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.codePostal">Code Postal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pays">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.pays">Pays</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="telephone">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.telephone">Telephone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fax">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.fax">Fax</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdByUserLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.createdByUserLogin">Created By User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedByUserLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceSociete.updatedByUserLogin">Updated By User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let societe of societes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/societe', societe.id, 'view']">{{ societe.id }}</a>
          </td>
          <td>{{ societe.raisonSociale }}</td>
          <td>{{ societe.raisonSocialeAbrege }}</td>
          <td>{{ societe.identifiantUnique }}</td>
          <td>{{ societe.registreCommerce }}</td>
          <td>{{ societe.codeArticle }}</td>
          <td>{{ societe.adresse }}</td>
          <td>{{ societe.codePostal }}</td>
          <td>{{ societe.pays }}</td>
          <td>{{ societe.telephone }}</td>
          <td>{{ societe.fax }}</td>
          <td>{{ societe.email }}</td>
          <td>{{ societe.createdAt | formatMediumDatetime }}</td>
          <td>{{ societe.updatedAt | formatMediumDatetime }}</td>
          <td>{{ societe.createdBy }}</td>
          <td>{{ societe.createdByUserLogin }}</td>
          <td>{{ societe.updatedBy }}</td>
          <td>{{ societe.updatedByUserLogin }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/societe', societe.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/societe', societe.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(societe)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="societes && societes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
