<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="numsequentielle">
      <h2 data-cy="numsequentielleDetailsHeading">
        <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.detail.title">Numsequentielle</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ numsequentielle.id }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.prefix">Prefix</span></dt>
        <dd>
          <span>{{ numsequentielle.prefix }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.nextNumber">Next Number</span></dt>
        <dd>
          <span>{{ numsequentielle.nextNumber }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.format">Format</span></dt>
        <dd>
          <span>{{ numsequentielle.format }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.codeNumSeq">Code Num Seq</span></dt>
        <dd>
          <span>{{ numsequentielle.codeNumSeq }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/numsequentielle', numsequentielle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
