<div>
  <h2 id="page-heading" data-cy="NumsequentielleHeading">
    <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.home.title">Numsequentielles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-numsequentielle"
        [routerLink]="['/numsequentielle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.home.createLabel"> Créer un nouveau Numsequentielle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="numsequentielles?.length === 0">
    <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.home.notFound">Aucun Numsequentielle trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="numsequentielles && numsequentielles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prefix">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.prefix">Prefix</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nextNumber">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.nextNumber">Next Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="format">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.format">Format</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codeNumSeq">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceNumsequentielle.codeNumSeq">Code Num Seq</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numsequentielle of numsequentielles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/numsequentielle', numsequentielle.id, 'view']">{{ numsequentielle.id }}</a>
          </td>
          <td>{{ numsequentielle.prefix }}</td>
          <td>{{ numsequentielle.nextNumber }}</td>
          <td>{{ numsequentielle.format }}</td>
          <td>{{ numsequentielle.codeNumSeq }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/numsequentielle', numsequentielle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/numsequentielle', numsequentielle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(numsequentielle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="numsequentielles && numsequentielles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
