<div>
  <h2 id="page-heading" data-cy="SSTHeading">
    <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.home.title">SSTS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sst"
        [routerLink]="['/sst/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.home.createLabel"> Créer un nouveau SST </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sSTS?.length === 0">
    <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.home.notFound">Aucun SST trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sSTS && sSTS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="label">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.label">Label</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="importance">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.importance">Importance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commentaire">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.commentaire">Commentaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="incidentPresent">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.incidentPresent">Incident Present</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="arretTravail">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.arretTravail">Arret Travail</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.updatedAt">Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdByUserLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.createdByUserLogin">Created By User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedBy">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.updatedBy">Updated By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedByUserLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.updatedByUserLogin">Updated By User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workOrder.id">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceSSt.workOrder">Work Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sST of sSTS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sst', sST.id, 'view']">{{ sST.id }}</a>
          </td>
          <td>{{ sST.label }}</td>
          <td>{{ sST.date | formatMediumDate }}</td>
          <td>{{ sST.importance }}</td>
          <td>{{ sST.commentaire }}</td>
          <td>{{ sST.incidentPresent }}</td>
          <td>{{ sST.arretTravail }}</td>
          <td>{{ sST.createdAt | formatMediumDatetime }}</td>
          <td>{{ sST.updatedAt | formatMediumDatetime }}</td>
          <td>{{ sST.createdBy }}</td>
          <td>{{ sST.createdByUserLogin }}</td>
          <td>{{ sST.updatedBy }}</td>
          <td>{{ sST.updatedByUserLogin }}</td>
          <td>
            <div *ngIf="sST.workOrder">
              <a [routerLink]="['/work-order', sST.workOrder.id, 'view']">{{ sST.workOrder.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/sst', sST.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/sst', sST.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(sST)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sSTS && sSTS.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
