<div>
  <h2 id="page-heading" data-cy="TacheHeading">
    <span jhiTranslate="gpmGatewayApp.operationsServiceTache.home.title">Taches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.operationsServiceTache.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tache"
        [routerLink]="['/tache/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.operationsServiceTache.home.createLabel"> Créer un nouveau Tache </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taches?.length === 0">
    <span jhiTranslate="gpmGatewayApp.operationsServiceTache.home.notFound">Aucun Tache trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="taches && taches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="roleDansLaMission">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceTache.roleDansLaMission">Role Dans La Mission</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="note">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceTache.note">Note</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remboursement">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceTache.remboursement">Remboursement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="executeurId">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceTache.executeurId">Executeur Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="executeurUserLogin">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceTache.executeurUserLogin">Executeur User Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="workOrder.id">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceTache.workOrder">Work Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="activite.designation">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.operationsServiceTache.activite">Activite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tache of taches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tache', tache.id, 'view']">{{ tache.id }}</a>
          </td>
          <td>{{ tache.roleDansLaMission }}</td>
          <td>{{ tache.note }}</td>
          <td>{{ tache.remboursement }}</td>
          <td>{{ tache.executeurId }}</td>
          <td>{{ tache.executeurUserLogin }}</td>
          <td>
            <div *ngIf="tache.workOrder">
              <a [routerLink]="['/work-order', tache.workOrder.id, 'view']">{{ tache.workOrder.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tache.activite">
              <a [routerLink]="['/activite', tache.activite.id, 'view']">{{ tache.activite.designation }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tache', tache.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/tache', tache.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(tache)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="taches && taches.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
