<div>
  <h2 id="page-heading" data-cy="MatriceFacturationHeading">
    <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.home.title">MatriceFacturations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-matrice-facturation"
        [routerLink]="['/matrice-facturation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.home.createLabel"> Créer un nouveau Matrice Facturation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matriceFacturations?.length === 0">
    <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.home.notFound">Aucun Matrice Facturation trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="matriceFacturations && matriceFacturations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifBase">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.tarifBase">Tarif Base</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifMissionNuit">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.tarifMissionNuit">Tarif Mission Nuit</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifHebergement">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.tarifHebergement">Tarif Hebergement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifJourFerie">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.tarifJourFerie">Tarif Jour Ferie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tarifDimanche">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.tarifDimanche">Tarif Dimanche</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="affaire.designationAffaire">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.affaire">Affaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ville.nom">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.ville">Ville</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zone.nom">
            <div class="d-flex">
              <span jhiTranslate="gpmGatewayApp.projectServiceMatriceFacturation.zone">Zone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matriceFacturation of matriceFacturations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/matrice-facturation', matriceFacturation.id, 'view']">{{ matriceFacturation.id }}</a>
          </td>
          <td>{{ matriceFacturation.tarifBase }}</td>
          <td>{{ matriceFacturation.tarifMissionNuit }}</td>
          <td>{{ matriceFacturation.tarifHebergement }}</td>
          <td>{{ matriceFacturation.tarifJourFerie }}</td>
          <td>{{ matriceFacturation.tarifDimanche }}</td>
          <td>
            <div *ngIf="matriceFacturation.affaire">
              <a [routerLink]="['/affaire', matriceFacturation.affaire.id, 'view']">{{ matriceFacturation.affaire.designationAffaire }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="matriceFacturation.ville">
              <a [routerLink]="['/ville', matriceFacturation.ville.id, 'view']">{{ matriceFacturation.ville.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="matriceFacturation.zone">
              <a [routerLink]="['/zone', matriceFacturation.zone.id, 'view']">{{ matriceFacturation.zone.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/matrice-facturation', matriceFacturation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/matrice-facturation', matriceFacturation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(matriceFacturation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="matriceFacturations && matriceFacturations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
