<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="client">
      <h2 data-cy="clientDetailsHeading"><span jhiTranslate="gpmGatewayApp.projectServiceClient.detail.title">Client</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ client.id }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.raisonSociale">Raison Sociale</span></dt>
        <dd>
          <span>{{ client.raisonSociale }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.identifiantUnique">Identifiant Unique</span></dt>
        <dd>
          <span>{{ client.identifiantUnique }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.adresse">Adresse</span></dt>
        <dd>
          <span>{{ client.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.telephone">Telephone</span></dt>
        <dd>
          <span>{{ client.telephone }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.fax">Fax</span></dt>
        <dd>
          <span>{{ client.fax }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.email">Email</span></dt>
        <dd>
          <span>{{ client.email }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.createdAt">Created At</span></dt>
        <dd>
          <span>{{ client.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ client.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.createdBy">Created By</span></dt>
        <dd>
          <span>{{ client.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.createdByUserLogin">Created By User Login</span></dt>
        <dd>
          <span>{{ client.createdByUserLogin }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ client.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="gpmGatewayApp.projectServiceClient.updatedByUserLogin">Updated By User Login</span></dt>
        <dd>
          <span>{{ client.updatedByUserLogin }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
