<div class="home-container" *ngIf="!account">
  <div class="hero-card">
    <div class="logo-placeholder">
      <!-- App Logo or Icon -->
      <img src="content/images/logoGpm.png" alt="Logo" class="app-logo" />
    </div>
    <h1 class="welcome-title">Bienvenue</h1>
    <p class="welcome-subtitle">Connectez-vous pour accéder à votre espace.</p>

    <button class="btn btn-primary login-btn" (click)="login()">Connecter</button>
  </div>
</div>

<div *ngIf="account" class="logged-in-container"></div>
