<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-detail-ressource-heading"
        data-cy="DetailRessourceCreateUpdateHeading"
        jhiTranslate="gpmGatewayApp.projectServiceDetailRessource.home.createOrEditLabel"
      >
        Créer ou éditer un Detail Ressource
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.projectServiceDetailRessource.status" for="field_status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.projectServiceDetailRessource.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.projectServiceDetailRessource.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.projectServiceDetailRessource.required" for="field_required"
            >Required</label
          >
          <input type="checkbox" class="form-check" name="required" id="field_required" data-cy="required" formControlName="required" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.projectServiceDetailRessource.inputType" for="field_inputType"
            >Input Type</label
          >
          <input type="text" class="form-control" name="inputType" id="field_inputType" data-cy="inputType" formControlName="inputType" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gpmGatewayApp.projectServiceDetailRessource.multipleChoiceOption"
            for="field_multipleChoiceOption"
            >Multiple Choice Option</label
          >
          <input
            type="text"
            class="form-control"
            name="multipleChoiceOption"
            id="field_multipleChoiceOption"
            data-cy="multipleChoiceOption"
            formControlName="multipleChoiceOption"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
