<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demande-espece-heading"
        data-cy="DemandeEspeceCreateUpdateHeading"
        jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.home.createOrEditLabel"
      >
        Créer ou éditer un Demande Espece
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.montant" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
          <div *ngIf="editForm.get('montant')!.invalid && (editForm.get('montant')!.dirty || editForm.get('montant')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('montant')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('montant')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Ce champ doit être un nombre.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.motif" for="field_motif">Motif</label>
          <input type="text" class="form-control" name="motif" id="field_motif" data-cy="motif" formControlName="motif" />
          <div *ngIf="editForm.get('motif')!.invalid && (editForm.get('motif')!.dirty || editForm.get('motif')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('motif')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.workOrderId"
            for="field_workOrderId"
            [ngbTooltip]="'gpmGatewayApp.financeServiceDemandeEspece.help.workOrderId' | translate"
            >Work Order Id</label
          >
          <input
            type="number"
            class="form-control"
            name="workOrderId"
            id="field_workOrderId"
            data-cy="workOrderId"
            formControlName="workOrderId"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.beneficiaireId"
            for="field_beneficiaireId"
            [ngbTooltip]="'gpmGatewayApp.financeServiceDemandeEspece.help.beneficiaireId' | translate"
            >Beneficiaire Id</label
          >
          <input
            type="text"
            class="form-control"
            name="beneficiaireId"
            id="field_beneficiaireId"
            data-cy="beneficiaireId"
            formControlName="beneficiaireId"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.beneficiaireUserLogin"
            for="field_beneficiaireUserLogin"
            >Beneficiaire User Login</label
          >
          <input
            type="text"
            class="form-control"
            name="beneficiaireUserLogin"
            id="field_beneficiaireUserLogin"
            data-cy="beneficiaireUserLogin"
            formControlName="beneficiaireUserLogin"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.createdAt" for="field_createdAt"
            >Created At</label
          >
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.updatedAt" for="field_updatedAt"
            >Updated At</label
          >
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.createdByUserLogin"
            for="field_createdByUserLogin"
            >Created By User Login</label
          >
          <input
            type="text"
            class="form-control"
            name="createdByUserLogin"
            id="field_createdByUserLogin"
            data-cy="createdByUserLogin"
            formControlName="createdByUserLogin"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.updatedBy" for="field_updatedBy"
            >Updated By</label
          >
          <input type="text" class="form-control" name="updatedBy" id="field_updatedBy" data-cy="updatedBy" formControlName="updatedBy" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="gpmGatewayApp.financeServiceDemandeEspece.updatedByUserLogin"
            for="field_updatedByUserLogin"
            >Updated By User Login</label
          >
          <input
            type="text"
            class="form-control"
            name="updatedByUserLogin"
            id="field_updatedByUserLogin"
            data-cy="updatedByUserLogin"
            formControlName="updatedByUserLogin"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
